
*{
  margin: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1250px;
  margin: 0 auto;
}
.flex{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.nav{
  background-color: rgb(201, 201, 201);
}
.carousel{
  width: 100%;
}
.flex-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding:20px 0;
}
.flex-2{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
}
.content{
  max-width: 450px;
  margin-top: 20px;
}
.link{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
}
.rating{
  display: inline-flex;
  align-items: center;
  gap: 3px;
}
.price{
  font-weight: bold;
}
.quantity{
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}
.quantity > span{
  font-size: 20px;
  font-weight: 600;
  margin: 0 10px;
}
.amount{
  padding:20px;
}
.flex-3{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.cards{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  width: 300px;
}
.img{
  max-width: 300px;
}
.content-1{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.content-2{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.wrap > span{
  font-weight: bold;
  font-size: 20px;

}
.wrap{
  display: flex;
  align-items: center;
  gap: 10px;
}

.wrapper > .description{
  max-width: 400px;
}
.sub{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub > span{
  font-weight: 900;
}
.head{
  text-align: center;
  margin-top: 50px;
}
@media (min-width:1000px) {
  .flex-3{
    flex-direction: column;
  }
  .cards{
    width: 100%;
  }
  .content-1{
    flex-direction: row;
  }
  .cards{
    flex-direction: row;
  }
  .flex-2{
    flex-direction: row;
  }  
}